@page
@using DVConsistPlanner.Models;
@model DVConsistPlanner.Pages.ConsistManagerModel
@{
    ViewData["Title"] = Model.Consist?.DisplayName ?? "Consist Manager";
}
<head>
    <link rel="stylesheet" href="~/css/tables.css" />
</head>
<div class="text-center">
    <h1 class="display-4 d-sm-inline-flex">@Model.Consist.DisplayName</h1>
    <a asp-page-handler="ClearConsist">Reset Consist</a>
    <br />

    <div class="d-sm-inline-flex">
        <h3>Locomotive Consist</h3><a class="nav-link" asp-area="" asp-page="/Locomotives/AddLocomotive">Add Locomotive</a>
    </div>

    <partial name="_LocomotiveTable" model="Model.Consist.Locomotives" />
    <br />

    <table border="1">
        <tr>
            <th>Total Mass (t)</th>
            <th>Total Length (m)</th>
            <th>Total Load Rating (t)</th>
        </tr>
        <tr>
            <td style="text-align:center;">@String.Format("{0:N2}", Model.Consist.Locomotives.GetTotalTonnage())</td>
            <td style="text-align:center;">@String.Format("{0:N2}", Model.Consist.Locomotives.GetTotalLength())</td>
            <td style="text-align:center;">@String.Format("{0:N2}", Model.Consist.Locomotives.GetTotalLoadRating())</td>
        </tr>
    </table>
    <br />

    <div class="d-sm-inline-flex">
        <h3>Train Consist</h3><a class="nav-link" asp-area="" asp-page="/Jobs/AddJob">Add Job</a>
    </div>

    <partial name="_JobTable" model="Model.Consist.Jobs" />
    <br />

    <table border="1">
        <tr>
            <th>Total Mass (tonnes)</th>
            <th>Total Length (m)</th>
            <th>Total Payout</th>
            <th>Total Payout (w/Bonus)</th>
        </tr>
        <tr>
            <td style="text-align:center;">@String.Format("{0:N2}", Model.Consist.Jobs.GetTotalTonnage())</td>
            <td style="text-align:center;">@String.Format("{0:N2}", Model.Consist.Jobs.GetTotalLength())</td>
            <td style="text-align:center;">@String.Format("{0:C2}", Model.Consist.TotalPayout)</td>
            <td style="text-align:center;">@String.Format("{0:C2}", Model.Consist.TotalBonusPayout)</td>
        </tr>
    </table>
    <br />

    <h2>Consist Totals</h2>
    <table border="1">
        <tr>
            <th>Total Mass (t)</th>
            <th class="@Model.GetAlertClassLoadRating()">Total Load Rating (t)</th>
            <th>Total Length (m)</th>
        </tr>
        <tr>
            <td style="text-align:center;">@String.Format("{0:N2}", Model.Consist.TotalTonnage)</td>
            <td class="@Model.GetAlertClassLoadRating()" style="text-align:center;">@String.Format("{0:N2}", Model.Consist.Locomotives.GetTotalLoadRating())</td>
            <td style="text-align:center;">@String.Format("{0:N2}", Model.Consist.TotalLength)</td>
        </tr>
    </table>

    <div>
        <a asp-page="/ConsistList">Back to List</a>
    </div>
</div>